<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<title>Index</title>
</head>

<body>
	<h2>Welcome</h2>
	<a href="/login">Login</a>
	<a th:if="${#httpServletRequest.isUserInRole('ADMIN')}" 
		href="/student/viewall">View All Student</a>
	<div th:if="${#httpServletRequest.isUserInRole('USER') or #httpServletRequest.isUserInRole('ADMIN')}">
	    <form th:action="@{/student/view/(npm=${npm})}" method="get">
	        <div class="row">
	            <div class="col-md-2">
	                <label for="npm">NPM</label>
	            </div>
	            <div class="col-md-4">
	                <input type="text" id="npm" name="npm" class="form-control"/>
	            </div>
	        </div>
	        <div class="row">
	            <button type="submit" value="save" class="btn btn-primary ">Lihat</button>
	        </div>
	    </form>
	</div>
</body>
</html>